<% if user_signed_in? %>
    <h2>Your Logged in Bro!</h2>
<% else %>

<div class="hero-unit">
<h1>Welcome to my Sample App !</h1>
  <br>
<p>This is my project for the One Month Rails Tutorial</p>

<p>

  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</p>
</div>
<% end %>